.footer {
    text-align: center;
}
.list {
    width:70%;
    height:90%;
    background:#FFF;
    margin:70px auto;
}
.effect{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.photo{
    border-color: black;
}